// cart styles
.cart {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(90, 90, 90, 0.8);
    z-index: 2;
}
.cart-hidden {
  transition: all 0.5s ease-out;
  opacity: 0;
  visibility: hidden;
}
.cart-shown {
  transition: all 0.5s ease-out;
  opacity: 1;
  visibility: visible;
}

.cart__body {
  width: 500px;
  padding: 25px;
  background-color: #eff0f4;
  border-radius: 10px;
}

.cart__items {
  margin-bottom: 20px;
  border-bottom: 1px solid #cacaca;
}

.cart__header {
  text-align: center;
  font-weight: 600;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 1px solid #cacaca;
  padding: 10px 0;
}

.cart__header-text:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

.cart__item {
  align-items: center;
  margin: 10px 0;
}

.cart__item-price {
  text-align: center;
}

.cart__item-quantity {
  align-items: center;
  justify-content: center;
  gap: 20px;
  &-input {
    width: 50px;
    height: 30px;
    text-align: center;
  }
  &-button {
    width: 24px;
    height: 24px;
    background-image: url("/img/del.png");
    background-size: cover;
  }
}

.cart__total {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 50px;
  justify-content: flex-end;
  &-text {
    margin-right: 10px;
    &_normal {
      font-weight: normal;
    }
  }
}

.cart__button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 160px;
  height: 30px;
  border-radius: 6px;
  background-color: $color-green-brand;
  color: $color-white;
  &:disabled {
    background-color: $color-grey;
    cursor: auto;
  }
}

.cart__message {
  height: 50px;
      line-height: 1.5em;
      padding: 10px 15px;
      width: 100%;
      border: none;
      margin-bottom: 30px;
      color: $color-grey;
      font-weight: 330;
}

.cart__label {
  position: relative;
  width: 100%;
  .cart__input {
      line-height: 1.5em;
      padding: 10px 15px;
      width: 100%;
      //background: $color-grey;
      border: none;
      margin-bottom: 10px;
      color: $color-grey;
      font-weight: 330;
  }

  .js-validate-error-label {
      position: absolute;
      top: 20%;
      right: 5px;
      color: rgb(255, 1, 1) !important;
  }
  .js-validate-error-field {
      color: rgb(255, 1, 1) !important;
      border: 1px solid rgb(255, 1, 1) !important;
      box-sizing: border-box;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.grid-row {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100px 150px 100px 100px;
}

@media screen and (max-width: 500px) {
  .grid-row {
    grid-template-columns: auto 80px 80px;
  }
  .cart {
    width: 100%;
    border-radius: 0px;
  }
  .cart__header-text:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .cart-item-image {
    display: none;
  }
  .cart__item-quantity {
    gap: 10px;
    &-input {
      width: 40px;
    }
  }
}