// cart styles

  .cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    //height: 100vh;
    //position: absolute;
    //top: 0;
    //left: 0;
   // display: none;
  }

  .cart__body {
    width: 500px;
    padding: 25px;
    background-color: #eff0f4;
    border-radius: 30px;
  }

  .cart__items {
    margin-bottom: 20px;
    border-bottom: 1px solid #cacaca;
  }

.cart__header {
  text-align: center;
  font-weight: 600;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 1px solid #cacaca;
  padding: 10px 0;
}

.cart__header-text:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

.cart__item {
  align-items: center;
  margin: 10px 0;
}

.cart__item-price {
  text-align: center;
}

.cart__item-quantity {
  align-items: center;
  justify-content: center;
  gap: 20px;
  &-input {
    width: 50px;
    height: 30px;
    text-align: center;
  }
  &-button {
    width: 24px;
    height: 24px;
    background-image: url("/img/del.png");
    background-size: cover;
  }
}

.cart__total {
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 50px;
  justify-content: flex-end;
  &-text {
    margin-right: 10px;
    &_normal {
      text-transform: none;
      font-weight: normal;
    }
  }
}

.cart__button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 160px;
  height: 30px;
  border-radius: 6px;
  background-color: $color-green-brand;
  color: #fff;
  &:disabled {
    background-color: $color-grey;
    cursor: auto;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.grid-row {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100px 150px 100px 100px;
}

@media screen and (max-width: 500px) {
  .grid-row {
    grid-template-columns: auto 80px 80px;
  }
  .cart {
    width: 100%;
    border-radius: 0px;
  }
  .cart__header-text:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .cart-item-image {
    display: none;
  }
  .cart__item-quantity {
    gap: 10px;
    &-input {
      width: 40px;
    }
  }
}