.footer {
    background-image: url(/img/Pattern_03.jpg);
    background-repeat: repeat;

    .footer__body {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-template-rows: auto;
        gap: 40px;
        justify-content: center;
    }

    .column {
        align-items: flex-start;
        justify-content: flex-start;

        .column__img {
            max-width: 90px;
        }

        .column__subtitle {
            color: lighten($color-green-brand, 10);
        }

        .column__paragraph,
        .link-phone {
            color: lighten($color-grey, 50);
        }

        .column__link:not(.link-phone) {
            color: $color-link;
        }
    }

    .column-logo {
        display: none;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .form__subtitle {
            color: lighten($color-green-brand, 10);
            align-self: flex-start;
        }

        .form__text {
            height: 150px;
                line-height: 1.5em;
                padding: 10px 15px;
                width: 100%;
                background: $color-grey;
                border: none;
                margin-bottom: 30px;
                color: $color-white;
                font-weight: 330;
        }

        .form__label {
            position: relative;
            width: 100%;
            .form__input {
                line-height: 1.5em;
                padding: 10px 15px;
                width: 100%;
                background: $color-grey;
                border: none;
                margin-bottom: 10px;
                color: $color-white;
                font-weight: 330;
            }

            .js-validate-error-label {
                position: absolute;
                top: 20%;
                right: 5px;
                color: rgb(255, 1, 1) !important;
            }
        }


        .form__button {
            align-self: flex-end;
            background-color: transparent;
            border: none;
            color: lighten($color-grey, 50);
            border-bottom: 1px dashed $color-link;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .column,
    .form {
        padding: 0 30px;
    }
}

@media screen and (min-width:1024px) {

    .column,
    .form {
        padding: 0 !important;
    }

    .column-logo {
        display: block !important;
        order: 3;
        margin-left: 90px;
    }
}