.header {
    background-color: $color-menu;
    z-index: 1;
    .header__body {
        //height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        z-index: 999;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .cart-icon__link {
        display: flex;
        cursor: pointer;
    }
    .cart-icon__img {
        margin-right: 10px;
    }
    .cart-icon__quantity {
        color: $color-white;
    }
}

@media only screen and (max-width: 1023px) {
    .header .menu {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    .header .logo {
        flex-basis: 50px;
    }
    .header .menu {
        display: flex;
    }
    .header .burger {
        display: none;
    }
}