$color-header: #4d4e4f;
$color-menu: #4d4e4f;
$color-menu-hover: rgb(196, 196, 196);
$color-menu-text: #fff;
$color-menu-text-hover: #050505;

$color-yellow-brand: #fff22d;
$color-green-brand: #00543d; /*#407552;*/
$color-red-brand: #e10020;

$color-white: #fff;
$color-black: #000;
$color-grey: #4d4e4f;

$color-link: #07519c;