* {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  &::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  &.bodyOverflow {
      overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}


.content {
  background-image: url(/img/Pattern_01.jpg);
  background-repeat: repeat;
}

.section,
.footer {
  min-height: calc(100vh - 40px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.section__title {
  font-size: 24px;
  font-weight: 500px;
  line-height:  30px;
  color: $color-green-brand;
  text-align: center;
  margin-bottom: 20px;
}

@media (min-width:768px) {
  .section,
  .footer {
    min-height: calc(100vh - 60px);
  }
}