@mixin font($size, $weight, $line-height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin container($max-width, $padding) {
  margin: 0 auto;
  max-width: $max-width;
  padding-left: $padding;
  padding-right: $padding;
}

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}
  
@mixin pm-zero($margin: 0, $padding: 0) {
  margin: $margin;
  padding: $padding;
}

@mixin bg-img($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: 0 0;
}
