$only-dekstop: 1325px;
$only-desctop-slider: 1310px;
$table-width: 1199px;
$mobile-width: 767px;
$retina-dppx: 1.5dppx;

$price-01: "3 312";
$price-02: "6 276";
$price-03: "12 144";
$price-04: "477";
$price-05: "1 326";
$price-06: "342";